# What is a list?

* List is a datatype which contains data items of different data types i.e int, float, Complex numbers.
* It is mutable contains duplicate items , poreserves order and can be modified.
* It can be identified by []

# What is a tuple?

* Tuple is also a datatype contains elements of different data types.
* It is Immutable contains duplicate items.
* It can be identified by () and requires at least one element in it.

# What is the difference between List and Tuple?

* List is Mutrable and Tuple is immutable.
* List is identified by [] and tuple is identified by ().
* List is slow and tuple is Fast.

# Python program to find out the largest element in a list

In [1]:
list1 = [1,2,3,4,5]
max(list1)

5

In [2]:
list1 = [1,2,3,4,5]
max1 = list1[0]
for i in list1:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

5

In [4]:
list1 = [4,5,8,9,5,3,7]
list1.sort()
list1
max1 = list1[-1]
max1

9

In [5]:
list1 = [4,5,6,3,8]
list1.sort(reverse=True)
max1 = list1[0]
max1

8

# Python programme to interchange first and last elements in a list

In [9]:
list1 = [1,2,3,4,5]
list1[-1:] + list1[1:-1] + list1[:1]

[5, 2, 3, 4, 1]

# Python programme to swap two elements in a list

In [10]:
list1 = [1,2,3,4,5]
list1[0],list1[1] = list1[1],list1[0]
list1

[2, 1, 3, 4, 5]

In [11]:
list1 = [1,2,3,4,5]
pos1 = int(input("Enter Position 1:"))
pos2 = int(input("Enter Position 2:"))
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
list1

[1, 4, 3, 2, 5]

# Python programme to reverse the list

In [12]:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [14]:
list1 = [1,2,3,4,5]
list2 = reversed(list1)
list(list2)

[5, 4, 3, 2, 1]

In [15]:
list1 = [1,2,3,4,5]
list2 = []
for i in range(len(list1),0,-1):
    list2.append(i)
list2

[5, 4, 3, 2, 1]

# Python programme to count occurences of an element in the list

In [16]:
list1 = [1,2,1,2,1,1,1,3,4,4]
list1.count(1)

5

In [17]:
list1 = [1,2,1,2,1,1,1,3,4,4]
num = 1
count = 0 
for i in list1:
    if i == num:
        count += 1
print(count)

5

# Python programme to find the sum of elements in list

In [19]:
list1 = [1,2,3,4,5]
sum = 0 
for i in list1:
    sum = sum + i
print("Sum of elements:",sum)

Sum of elements: 15

# Python programme to multiply all numbers in the list

In [22]:
list1 = [1,2,3,4,5]
mul = 1 
for i in list1:
    mul = mul * i 
print("Multiplication of elements:",mul)

Multiplication of elements: 120

# What are the ways to find the length of the list

In [23]:
list1 = [1,2,3,4,5]
len(list1)

5

In [24]:
list1 = [1,2,3,4,5]
print(range(len(list1)))

range(0, 5)

In [25]:
list1 = [1,2,3,4,5]
str(list1)
counter = 0 
for i in list1:
    counter = counter + 1
print(counter)

5

# Python programe to find the smallest and largest number in a list without using min and max functions

In [27]:
list1 = [1,2,3,4,5]
smallest = list1[2]
for i in range(len(list1)):
    if list1[i]<= smallest:
        smallest = list1[i]
print("Smallest number in list: ", smallest)

greatest = list1[0]
for i in range(len(list1)):
    if list1[i] >= greatest:
        greatest = list1[i]
print("Greatest number in list: ", greatest)

Smallest number in list:  1
Greatest number in list:  5

# Python program to find the area of a circle

In [28]:
radius = int(input("Enter the radius of the circle"))
area = 3.14 * radius * radius
print("Area of the circle : ", area)

Area of the circle :  78.5

# Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.

In [30]:
list1 = []
num = int(input("How many numbers you want in the list:"))
for item in range(num):
    item = int(input("Enter the item you want in the list"))
    list1.append(item)
print("List is : ", list1)

num1 = int(input("Enter the number you want to remove from the list"))
for i in range(len(list1)):
    if num1 == list1[i]:
        list1.remove(num1)
        print("Deleted number from list : ",num1)
        print(list1)
        break
    else:
        print("Number not found in list.")

List is :  [1, 2, 3]
Number not found in list.
Number not found in list.
Deleted number from list :  3
[1, 2]

# You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension) i. Input_list = [2,5,6,12] ii. Output_list = [4,25,36,144]

In [31]:
list1 = [2,5,6,12]
list2 = []
for i in list1:
    list2.append(i**2)
print("Original list: ", list1)
print("Square list: ", list2)

Original list:  [2, 5, 6, 12]
Square list:  [4, 25, 36, 144]

In [32]:
list1 = [2,5,6,12]
list2 = []
list2 = [(i**2) for i in list1]
list2

[4, 25, 36, 144]

# WAP to create two lists, one containing all even numbers and the other containing all odd numbers between 0 to 151

In [37]:
even_numbers = []
odd_numbers = []
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

# Python program to count even and odd numbers in a list

In [38]:
even_numbers = []
even_count = 0 
odd_numbers = []
odd_count = 0
for i in range(0 , 152):
    if i%2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

# WAP to make new lists, containing only numbers which are divisible by 4, 6,8, 10, 3, 5, 7, and 9 in separate lists for range(0,151)

In [39]:
divisible_4 = []
divisible_6 = []
divisible_8 = []
divisible_10 = []
divisible_3 = []
divisible_5 = []
divisible_7 = []
divisible_9 = []

for i in range(0 , 152):
    if i%4==0:
        divisible_4.append(i)
    if i%6==0:
        divisible_6.append(i)
    if i%8==0:
        divisible_8.append(i)
    if i%10==0:
        divisible_10.append(i)
    if i%3==0:
        divisible_3.append(i)
    if i%5==0:
        divisible_5.append(i)
    if i%7==0:
        divisible_7.append(i)
    if i%9==0:
        divisible_9.append(i)
print("Numbers divisible by 4 are:",divisible_4)
print()
print("Numbers divisible by 6 are:",divisible_6)
print()
print("Numbers divisible by 8 are:",divisible_8)
print()
print("Numbers divisible by 10 are:",divisible_10)
print()
print("Numbers divisible by 3 are:",divisible_3)
print()
print("Numbers are divisible by 5 are:",divisible_5)
print()
print("Numbers divisible by 7 are:",divisible_7)
print()
print("Numbers divisible by 9 are:",divisible_9)

Numbers divisible by 4 are: [0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

Numbers divisible by 6 are: [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]

Numbers divisible by 8 are: [0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]

Numbers divisible by 10 are: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

Numbers divisible by 3 are: [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150]

Numbers are divisible by 5 are: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

Numbers divisible by 7 are: [0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147]

Numbers divisible by 9 are: [0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]

# From a list containing ints, strings, and floats, make three lists to store them separately.

In [40]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    if type(i) == float:
        float_list.append(i)
    if type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

# Whatâ€™s The Difference Between The Python append() and extend() Methods?

* Append adds only one item in the list at the end.
* Extend adds more than one item in the list at the end.

# Write a Python program to append a list to the second list

In [41]:
l1=[1,2,3,4]
l2=[4,5,6,7]
l2.extend(l1)
print("Extended list:",l2)

Extended list: [4, 5, 6, 7, 1, 2, 3, 4]

# Write a Python program to find the third-largest number in a list

In [47]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
sorted_nummbers = sorted(set(l1),reverse=True)
print("Sorted list:",sorted_nummbers)
print("Third largest number:",sorted_nummbers[2])

Sorted list: [30, 11, 10, 9, 7, 6, 5, 4, 2, 1]
Third largest number: 10

# Write a Python program to get the frequency of the elements in a list.

In [48]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] = l2[i] + 1
    else:
        l2[i] = 1

print(l2)

{1: 2, 2: 2, 3: 2, 4: 2}

# Write a Python program to check whether a list contains a sublist

In [49]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("L2 is subset of L1")
else:
    print("L2 is not a subset of L1")

L2 is subset of L1

# Write a Python program to generate all sublists of a list

In [51]:
l1 = [1,2,3]
sub_l1 = [[]]
for i in range(len(l1)+1):
    for j in range(i):
        sub_l1.append(l1[j:i])
sub_l1

[[], [1], [1, 2], [2], [1, 2, 3], [2, 3], [3]]

# Write a Python program to find common items from two lists

In [52]:
l1=[10,20,30,40]
l2=[10,20,30,50]
common_items = set(l1) & set(l2)
print("Common elements are: ",common_items)

Common elements are:  {10, 20, 30}

# How to flatten a list in python?

In [53]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list is: ",flattened_list)

Flattened list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

# How to sort a list in ascending and descending order without using the sort function?

In [56]:
l1=[5,6,7,1,2,3]
l2 = []
for i in range(len(l1)):
    for j in range(i+1 , len(l1)):
        if l1[i]>=l1[j]:
            l1[i],l1[j] = l1[j],l1[i]
l1

[1, 2, 3, 5, 6, 7]

In [57]:
l1=[5,6,7,1,2,3]
l2 = []
for i in range(len(l1)):
    for j in range(i+1 , len(l1)):
        if l1[i]<=l1[j]:
            l1[i],l1[j] = l1[j],l1[i]
l1

[7, 6, 5, 3, 2, 1]

# How to sort a tuple?

In [58]:
tuple1 = (2,5,3,1,6,8,4)
tuple2 = list(tuple1)
tuple2.sort()
tuple(tuple2)

(1, 2, 3, 4, 5, 6, 8)

# Write a Python program to convert a list of multiple integers into a single integer
# [11, 33, 50] >>> 113350

In [59]:
l1 = [11, 33, 50]
for i in l1:
    print(i,end="")

113350

# Difference between del and clear?

* clear will empty all items from a list , tuple ,set.
* del will delete the list,tuple ,set permanently.

# Difference between remove and pop?

* remove will delete the item mentioned in remove method.
* pop will delete the last item or the index mentioned in pop method from list and tuple.

# Difference between indexing and slicing

* Indexing will return the substring position from list or string.
* Slicing will return the specific substring from list.

# Difference between sort and sorted?

* sort method will sort the items in list.
* sorted method will also sort the items in list but new variable need to be intialized and then this variable will retutn the sorted list.

# Difference between reverse and reversed

* reverse method will reverse the list.
* But the reversed method will reverse the list with a new variable.

# Difference between copy and deep copy

* Copy creates a shallow copy ,inner objects are still references to the same objects.
* Deep copy creates a deep copy ,recursively duplicates all objects found in the original.

# How to check whether the list is empty or not?

In [61]:
l1 = [1]
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

# How to concatenate two lists?

In [62]:
l1=[1,2,3]
l2=[4,5,6]
l1 + l2

[1, 2, 3, 4, 5, 6]

# How to find the occurrences of an element in the python list?

In [63]:
l1=[1,2,3,1,2,3,4,5,6,4,5,6]
l1.count(1)

2

# How to flatten a list in python?

In [64]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
flattened_list = list(chain(*l1))
print("Flattened list:",flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]