In [ ]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
result = OrderedDict()

In [1]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items()))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [2]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items()))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [3]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [4]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [5]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dt.values()
sum(result)

65

In [6]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sum1 = 0 
for i in dt.values():
    sum1 += i
sum1

65

In [7]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Arushi"]
test_dict

{'Mani': 21, 'Haritha': 21}

In [8]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Mani"]
test_dict

{'Arushi': 22, 'Haritha': 21}

In [9]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Arushi")

22

In [10]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d1,**d2}
result

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [11]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d2,**d1}
result

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [12]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [14]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [15]:
def calc(percent):
    if percent >= 90:
        return "A+"
    elif 80 <= percent < 90:
        return "A"
    elif 70 <= percent < 80:
        return "B"
    elif 60 <= percent < 70:
        return "C"
    elif 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0 
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subject:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = calc(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by Student is :{grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 76.66666666666667
Grade recieved by Student is :B

In [17]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]
anagram_dict

{'e i l n s t': ['listen', 'silent', 'enlist'],
 'e h l l o': ['hello'],
 'd l o r w': ['world'],
 'a c t': ['act', 'cat'],
 'd g o': ['dog', 'god']}

In [18]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]
anagram_dict

{'e i l n s t': ['listen', 'silent', 'enlist'],
 'e h l l o': ['hello'],
 'd l o r w': ['world'],
 'a c t': ['act', 'cat'],
 'd g o': ['dog', 'god']}

In [19]:
def check_bin(num1,num2):
    binary_1 = bin(num1)[2:]
    binary_2 = bin(num2)[2:]

    return sorted(binary_1) == sorted(binary_2)

num1 = 10 
num2 = 10
if check_bin(num1,num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagram")

The binary representation of 10 and 10 are anagrams

In [20]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)
    result = max(words_count.values(),default=0)
    return result

word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
final = largest(word_list)
final

3

In [21]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)
    result = max(words_count.values(),default=0)
    return result

word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
final = largest(word_list)
final

3

In [22]:
freq = {}
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [23]:
freq = {}
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [24]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
result = dict(tups)
result

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [25]:
numbers = [2, 3, 4, 5, 6]

result = [(num ** 2) for num in numbers]
result

[4, 9, 16, 25, 36]

In [26]:
numbers = [2, 3, 4, 5, 6]

result = [(num ** 3) for num in numbers]
result

[8, 27, 64, 125, 216]

In [27]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

result = dict(sorted(tuples_list, key=lambda x : x[1]))
result

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [28]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

result = dict(sorted(tuples_list))
result

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}