In [ ]:
from collections import OrderedDict
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
result = OrderedDict()

In [1]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items()))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [2]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items()))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [3]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [4]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [5]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dt.values()
sum(result)

65

In [6]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sum1 = 0 
for i in dt.values():
    sum1 += i
sum1

65

In [7]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Arushi"]
test_dict

{'Mani': 21, 'Haritha': 21}

In [8]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Mani"]
test_dict

{'Arushi': 22, 'Haritha': 21}

In [9]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Arushi")

22

In [10]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d1,**d2}
result

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [11]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d2,**d1}
result

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [12]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [14]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [15]:
def calc(percent):
    if percent >= 90:
        return "A+"
    elif 80 <= percent < 90:
        return "A"
    elif 70 <= percent < 80:
        return "B"
    elif 60 <= percent < 70:
        return "C"
    elif 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0 
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subject:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = calc(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by Student is :{grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 76.66666666666667
Grade recieved by Student is :B

In [17]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]
anagram_dict

{'e i l n s t': ['listen', 'silent', 'enlist'],
 'e h l l o': ['hello'],
 'd l o r w': ['world'],
 'a c t': ['act', 'cat'],
 'd g o': ['dog', 'god']}

In [18]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]
anagram_dict

{'e i l n s t': ['listen', 'silent', 'enlist'],
 'e h l l o': ['hello'],
 'd l o r w': ['world'],
 'a c t': ['act', 'cat'],
 'd g o': ['dog', 'god']}

In [19]:
def check_bin(num1,num2):
    binary_1 = bin(num1)[2:]
    binary_2 = bin(num2)[2:]

    return sorted(binary_1) == sorted(binary_2)

num1 = 10 
num2 = 10
if check_bin(num1,num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagram")

The binary representation of 10 and 10 are anagrams

In [20]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)
    result = max(words_count.values(),default=0)
    return result

word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
final = largest(word_list)
final

3

In [21]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)
    result = max(words_count.values(),default=0)
    return result

word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
final = largest(word_list)
final

3

In [22]:
freq = {}
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [23]:
freq = {}
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [24]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
result = dict(tups)
result

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [25]:
numbers = [2, 3, 4, 5, 6]

result = [(num ** 2) for num in numbers]
result

[4, 9, 16, 25, 36]

In [26]:
numbers = [2, 3, 4, 5, 6]

result = [(num ** 3) for num in numbers]
result

[8, 27, 64, 125, 216]

In [27]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

result = dict(sorted(tuples_list, key=lambda x : x[1]))
result

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [28]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

result = dict(sorted(tuples_list))
result

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [4]:
subject_marks = [("English",88) , ("Science",90) , ("Maths",97) , ("Social sciences",82)]
result = sorted(subject_marks,key=lambda x : x[1])
result

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [5]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
result = sorted(list1,key=lambda x : x["age"])
result

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Nandini', 'age': 20},
 {'name': 'Manjeet', 'age': 20}]

In [6]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
result = sorted(list1,key=lambda x : x["name"])
result

[{'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20},
 {'name': 'Nikhil', 'age': 19}]

In [7]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
result = sorted(list1,key=lambda x : (x["age"],x["name"]))
result

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

In [8]:
input_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [(x**2) for x in input_numbers]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
result = [(lambda x : x**2)(num) for num in input_numbers]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
input_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [(lambda x : x**3)(num) for num in input_numbers]
result

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
result = lambda x : True if x.startswith("P") else False 
print(result("Python"))

True

In [12]:
result = lambda x : True if x.startswith("M") else False
print(result("My"))

True

In [13]:
result = (lambda string : string.isdigit())(string = "1234")
result

True

In [14]:
result = (lambda string : string.isdecimal())(string = "1234")
result

True

In [15]:
result = (lambda string : string.isnumeric())(string = "1234")
result

True

In [16]:
import re
result = (lambda string : re.findall(r"[0-9]{1,}",string))(string = "1234")
result

['1234']

In [17]:
num = 9 
f1 = 0 
f2 = 1
print(f1,f2,end=" ")
for i in range(2,num):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3,end=" ")

0 1 1 2 3 5 8 13 21

In [18]:
num = 9 
f1 = 0 
f2 = 1
print(f1,f2,end=" ")
for i in range(2,num):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3,end=" ")

0 1 1 2 3 5 8 13 21

In [19]:
num = 5 
f1 = 0 
f2 = 1
print(f1,f2,end=" ")
for i in range(2,num):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3,end=" ")

0 1 1 2 3

In [20]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
result = list(filter(lambda x : x in list1,list2))
result

[3, 4]

In [21]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
result = list(filter(lambda x : x in list2,list1))
result

[3, 4]

In [24]:
list1 = [-1,2,-3,5,7,8,9,-10]
result = lambda list1 : [x for x in list1 if x >= 0] + [x for x in list1 if x < 0]
result(list1)

[2, 5, 7, 8, 9, -1, -3, -10]

In [25]:
list1 = [-1,2,-3,5,7,8,9,-10]
result = lambda list1 : [x for x in list1 if x >= 0] + [x for x in list1 if x < 0]
result(list1)

[2, 5, 7, 8, 9, -1, -3, -10]

In [26]:
array_nums = [1,2,3,5,7,8,9,10]
odd = len(list(filter(lambda x : (x%2!=0),array_nums)))
even = len(list(filter(lambda x : (x%2==0),array_nums)))
odd

5

In [27]:
even

3

In [28]:
list1 = [1,2,3]
list2 = [4,5,6]
result = list(map(lambda x1,x2 : x1+x2,list1,list2))
result

[5, 7, 9]

In [29]:
list1 = [1,2,3]
list2 = [4,5,6]
result = list(map(lambda x1,x2 : x1+x2,list1,list2))
result

[5, 7, 9]

In [30]:
list1 = [13,26,38,39,57,15,17]
result = list(filter(lambda x : (x%13==0 or x%19==0),list1))
result

[13, 26, 38, 39, 57]

In [31]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
result = list(filter(lambda x : (x == "".join(reversed(x))),texts))
result

['php', 'aaa']

In [32]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
result = list(filter(lambda x : (x == "".join(reversed(x))),texts))
result

['php', 'aaa']

In [33]:
from collections import Counter
texts = ["bcda","abce","cbda","cbea","adcb"]
str1 = "abcd"
result = list(filter(lambda x : (Counter(str1) == Counter(x)),texts))
result

['bcda', 'cbda', 'adcb']

In [34]:
from collections import Counter
texts = ["bcda","abce","cbda","cbea","adcb"]
str1 = "abcd"
result = list(filter(lambda x : (Counter(str1) == Counter(x)),texts))
result

['bcda', 'cbda', 'adcb']

In [35]:
list1 = [2,3,4,5]
result = list(map(lambda x : x*5 , list1))
result

[10, 15, 20, 25]

In [37]:
list1 = [-1,-2,3,4]
positive = list(map(lambda list1 : list1 > 0 ,list1))
negative = list(map(lambda list1 : list1 < 0 ,list1))
sum(positive)

2

In [38]:
sum(negative)

2

In [41]:
list1 = [-1,-2,3,4]
positive = list(filter(lambda list1 : list1 > 0 ,list1))
negative = list(filter(lambda list1 : list1 < 0 ,list1))
sum(positive)

7

In [42]:
sum(negative)

-3

In [43]:
list1 = [[0],[1,3],[5,7],[9,11],[13,15,17]]
result = max(list1,key=lambda x : len(x))
result

[13, 15, 17]

In [44]:
list1 = [[0],[1,3],[5,7],[9,11],[13,15,17]]
result = min(list1 , key=lambda x : len(x))
result

[0]

In [45]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]
result = list(filter(lambda x : x not in list2,list1))
result

[1, 3, 5, 7, 9, 10]

In [46]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]
result = list(filter(lambda x : x not in list2,list1))
result

[1, 3, 5, 7, 9, 10]

In [49]:
tuple_str = (("223","ABCD","33") , ("1416","EFGH","55") , ("2345","WERT","34"))
result = tuple(map(lambda  x : (int(x[0]),int(x[2])),tuple_str))
result

((223, 33), (1416, 55), (2345, 34))

In [50]:
tuple_str = (("223","ABCD","33") , ("1416","EFGH","55") , ("2345","WERT","34"))
result = tuple(map(lambda x : (int(x[0]),int(x[2])),tuple_str))
result

((223, 33), (1416, 55), (2345, 34))

In [51]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x , list(nums).count(x)),nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [52]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x,list(nums).count(x)),nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [54]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3,l1,l2,l3))
result

[12, 15, 18]

In [55]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3,l1,l2,l3))
result

[12, 15, 18]

In [2]:
l1 = ["yellow","blue","tricolor"]
result = list(map(list,l1))
result

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [3]:
l1 = ["yellow","blue","tricolor"]
result = list(map(list,l1))
result

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [4]:
l1 = [12,15,18]
result = list(map(lambda x : x**2 , l1))
result

[144, 225, 324]

In [5]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
result = list(map(lambda x,y : x+y , list1, list2))
result

[6, 6, 6, 6, 6]

In [6]:
result = list(map(lambda x,y : x-y,list1,list2))
result

[-4, -2, 0, 2, 4]

In [7]:
int_list = [1, 2, 3, 4, 5]
result = list(map(lambda x : str(x),int_list))
result

['1', '2', '3', '4', '5']

In [8]:
int_tuple = (6, 7, 8, 9, 10)
result = list(map(lambda x : str(x),int_tuple))
result

['6', '7', '8', '9', '10']

In [9]:
num_array = [1, 2, 3, 4, 5]
result = sum(map(lambda x : x,num_array))
result

15

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]

result = sum(map(lambda x,y : x == y,list1,list2))
result

2

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]
result = sum(map(lambda x,y : x==y,list1,list2))
result

2

In [12]:
str1 = ["python","machine","learning"]
result = list(map(list,str1))
result

[['p', 'y', 't', 'h', 'o', 'n'],
 ['m', 'a', 'c', 'h', 'i', 'n', 'e'],
 ['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']]

In [13]:
str1 = ["python","machine","learning"]
result = list(map(list,str1))
result

[['p', 'y', 't', 'h', 'o', 'n'],
 ['m', 'a', 'c', 'h', 'i', 'n', 'e'],
 ['l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']]

In [14]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join,list_tup))
result

['python machine', 'learning data science']

In [15]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join,list_tup))
result

['python machine', 'learning data science']

In [16]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l1,l2))
result

[4, 5, 6]

In [19]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l2,l1))
result

[3]

In [23]:
from nltk.corpus import stopwords
string = "Hi i am abhishek"
stopword_list = stopwords.words("english")
result = filter(lambda x : x.lower() not in stopword_list,string)
final = " ".join(result)
final

AttributeError: module 'nltk' has no attribute 'data'

In [24]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x in l1,l2))
result

[1, 2]

In [25]:
l1 = [1,2,3]
result = list(filter(lambda x : (x%2!=0),l1))
result

[1, 3]

In [26]:
l1 = [1,2,3]
result = list(filter(lambda x : (x%2==0),l1))
result

[2]